streamlit
pandas
sklearn
numpy
spacy>=3.5.0,<3.6.0
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
sweetviz
pyspellchecker
dill
streamlit-aggrid
wordcloud
scikit-learn
imblearn
plotly
